body
{
	background: lightblue;
}

h1
{
	text-align: center;
}

#outer
{
	max-width: 1500px;
	background: lightskyblue;
	margin-left: auto;
	margin-right: auto;
}

.choose
{
	width: 300px;
	display: inline-block;
	vertical-align: top;
}

.row
{
	height: 50px;
}

.mode1 
{
    opacity: .85
}

.mode2 
{
    opacity: .7
}

.mode3 
{
    opacity: .55
}

.tile
{
    background-color: green;
	display: inline-block;
	width: 50px;
}

.tile_image
{
	width: 50px;
}

.docdiv
{
	width: 1000px;
}

.doctext
{
	margin-top: 10px;
	margin-bottom: 10px;
}

.legendbox
{
	display: grid;
	grid-template-columns: 20em 29px auto;
}

.outersample
{
	width: 25px;
    background-color: green;
}

.sample
{
	width: 25px;
	height: 25px;
	border: solid black 1px; 
	background-color: white;
}

