body
{
	background: lightblue;
}

h1
{
	text-align: center;
}

#outer
{
	max-width: 1500px;
	background: lightskyblue;
	margin-left: auto;
	margin-right: auto;
}

.choose
{
	width: 300px;
	display: inline-block;
	vertical-align: top;
}

.row
{
	height: 50px;
}

.mode1 input
{
    opacity: .85
}

.mode2 input
{
    opacity: .7
}

.mode3 input
{
    opacity: .55
}

.tile
{
    background-color: green;
	display: inline-block;
	width: 50px;
}

.tile_image
{
	width: 50px;
}
