<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="style.css">
	<title>Multiplex Signup</title>
	<script 
		src="https://unpkg.com/htmx.org@1.9.12" 
		integrity="sha384-ujb1lZYygJmzgSwoxRggbCHcjc0rB2XoQrxeTUQyRjrOnlCoYta87iKBWq3EsdM2" 
		crossorigin="anonymous"
	>
	</script>

</head>
<body>
	<div id="outer">
		<h1>Multiplex Signup Sheet</h1>
		<div id="contents">
			<form hx-post="/multiplex/server/update" hx-trigger="change" hx-target="#costs">
				<div id="costs">
					Expected rent: $1,100 Expected Member Loan: $8,800S
				</div>

				include(email.html)
				include(bedrooms.html)
				include(bathrooms.html)
				include(parking.html)
				include(size.html)
				<button hx-post="/multiplex/server/signup" hx-target="#contents">Submit</button>
			</form>
		</div>
	</div>
</body>
</html>
